
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Flores</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Vista de Administrador
            </a>
        </nav>

        <div class = "container">
            <div class = "row">
                <!--Form-->
                <div class = "col-md-5">
                    <div class = "card-body">
                        <form action="/add" method="POST">
                            <div class = "form-goup">
                                <input type="text" name= "nombre" placeholder="Inserta Nombre" class= "form-control">

                            </div>
                            <div class = "form-goup">
                                <input type="text" name= "imagen" placeholder="Insertaurl de imagen" class= "form-control">

                            </div>
                            <div class = "form-goup">
                                <textarea name= "descripcion" cols="80" class="form-control" placeholder="Inserta descripcion"></textarea> 
                            </div>
                            <div class = "form-goup">
                                <input type="text" name= "disponibilidad" placeholder="Inserta Disponibilidad" class= "form-control">

                            </div>
                            <div class = "form-goup">
                                <input type="text" name= "precio" placeholder="Inserta Precio" class= "form-control">

                            </div>
                            
                            <button type="submit" class="btn btn-primary">  
                                ADD

                            </button>
                        </form>
                    </div>
                </div>
                <!--List-->
                <div class="col-md-7">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th>Descripcion</th>
                                <th>Disponibilidad</th>
                                <th>Precio</th>
                                <th>Opciones</th>

                            </tr>
                        </thead>
                       <tbody>
                            <% for(var i = 0; i < flores.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%=flores[i].nombre %></td>
                                <td><%=flores[i].imagen %></td>
                                <td><%=flores[i].descripcion %></td>
                                <td><%=flores[i].disponibilidad %></td>
                                <td><%=flores[i].precio %></td>
                                <td>
                                    <a href="/delete/<%=flores[i]._id %>   " class="btn btn-danger">Delete</a>
                                    <a href="/edit/<%=flores[i]._id %> " class="btn btn-info">Edit</a>
                                </td>

                            </tr>
                            <% } %>
                        </tbody> 

                    </table>


                </div>
        </div>
    </body>
</html>